.footer {
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: lavender;
  min-width: 110%
}

a:link {
  text-align: center;
  text-decoration: none;
  color: black;
}