.footer {
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: yellow;
  min-width: 100vw
}

a:link {
  text-align: center;
  text-decoration: none;
  color: black;
}